.vp-metabox {
	border: none;
	position: relative;
	width: 100%;
}

.vp-metabox img {
	max-width: 100%;
	vertical-align: bottom;
}

.vp-metabox .label {
	display: table-cell;
	padding: 12px 20px;
	vertical-align: top;
	width: 160px;
}

.vp-metabox .label label {
	cursor: default;
	font-size: 1em;
	font-weight: bold;
	line-height: 1.4em;
	margin-top: 7px;
	display: block;
}

.vp-metabox .label .description {
	font-size: 0.9em;
	color: #999999;
	line-height: 1.3em;
	font-weight: normal;
}

.vp-metabox .label .description p {
	margin: 5px 0px 0px 0px;
}

.vp-metabox .vp-field {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.vp-metabox .vp-field.vp-error {
	background-color: #fbf1f1;
}

.vp-metabox .validation-msgs {
	color: #cc0000;
	font-weight: bold;
	margin-top: 10px;
}

.vp-metabox > .vp-wpa-loop {
	background-color: rgba(0,0,0,0.025);
	border-radius: 4px;
	padding: 10px;
}

.vp-metabox > .vp-wpa-loop h4 {
	padding: 0px 10px;
	margin: 10px 0px 10px;
}

.vp-metabox > .vp-wpa-loop .vp-wpa-group {
	background: #ffffff;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 4px;
	margin-bottom: 10px;
	position: relative;
}

.vp-metabox > .vp-wpa-loop .vp-wpa-group .vp-controls {
	position: relative;
	margin-bottom: -1px;
}

.vp-metabox > .vp-wpa-loop .vp-wpa-group .vp-controls .vp-field .label {
	padding: 12px 10px;
}

.vp-metabox > .vp-wpa-loop.vp-repeating-loop .vp-wpa-group .vp-controls .vp-field .field {
	padding-right: 40px;
}

.vp-metabox > .vp-wpa-loop.vp-repeating-loop .vp-wpa-group .vp-wpa-group-remove {
	background-color: #ffffff;
	border-radius: 0px 4px 0px 4px;
	border-width: 0px 0px 1px 1px;
	border-style: solid;
	border-color: rgba(0,0,0,0.1);
	position: absolute;
	top: 0px;
	right: 0px;
	width: 20px;
}

.vp-metabox .vp-wpa-group .vp-wpa-group-remove a {
	color: #999999;
	display: block;
	font-size: 0.8em;
	font-weight: bold;
	line-height: 2em;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
}

.vp-metabox .vp-wpa-group .vp-wpa-group-remove a:hover {
	color: #990000;
}

.vp-metabox .vp-wpa-group-add {
	margin-bottom: 8px;
}

.vp-metabox .vp-wpa-group-add a {
	display: block;
	text-align: center;
}

.vp-metabox .field {
	display: table-cell;
	padding: 15px 20px;
}

.vp-metabox .field .validation-msgs ul {
	margin: 0px;
}

.vp-metabox .field .input img {
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd;
	border-radius: 3px;
	padding: 3px;
}

.vp-metabox .field .input {
	position: relative;
}

.vp-metabox .vp-textbox input {
	width: 100%;
}

.vp-metabox .vp-checkbox label,
.vp-metabox .vp-radiobutton label {
	float: left;
	display: block;
	margin: 0px 20px 0px 0px;
}

.vp-metabox .vp-checkbox label input,
.vp-metabox .vp-radiobutton label input {
	margin-right: 3px;
}

.vp-metabox .vp-upload .input {
	padding-right: 130px;
}

.vp-metabox .vp-upload input[type="text"] {
	width: 100%;
}

.vp-metabox .vp-upload .buttons {
	position: absolute;
	top: 0px;
	right: 0px;
}

.vp-metabox .vp-upload .image {
	max-width: 300px;
}

.vp-metabox .vp-upload .image img {
	line-height: 0em;
}

.vp-metabox .vp-upload .image img[src=""] {
	display: none;
}

.vp-metabox .vp-upload .image img:not([src=""]) {
	margin-top: 10px;
}

.vp-metabox .vp-checkimage .input label,
.vp-metabox .vp-radioimage .input label {
	display: inline-block;
	margin: 5px;
	vertical-align: top;
}

.vp-metabox .vp-checkimage label input,
.vp-metabox .vp-radioimage label input {
	display: none;
}

.vp-metabox .vp-checkimage label input:checked ~ img,
.vp-metabox .vp-radioimage label input:checked ~ img {
	border-color: #6cc4e8;
	background-color: #6cc4e8;
}

/* elt ie8 style */
.vp-field.vp-checkimage .field input.checked ~ img,
.vp-field.vp-radioimage .field input.checked ~ img {
	border-color: #6cc4e8;
	background-color: #6cc4e8;
}

.vp-metabox .vp-color .input {
	padding-left: 25px;
}

.vp-metabox .vp-color .input label {
	background-image: url('../img/vp-sprite.png');
	background-position: 0 -140px;
	display: block;
	height: 20px;
	margin-top: 3px;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 20px;
}

.vp-metabox .vp-color .input label span {
	box-shadow: inset 0px 0px 0px 2px rgba(0,0,0,0.1);
	display: block;
	height: 100%;
	width: 100%;
}

.vp-metabox .vp-slider .input {
	padding-right: 80px;
}

.vp-metabox .vp-slider .input .slidebar {
	width: 100%;
	margin-top: 6px;
}

.vp-metabox .vp-slider .input .slideinput {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 60px;
	margin-top: -5px;
}

.vp-metabox .vp-select select,
.vp-metabox .vp-multiselect select,
.vp-metabox .vp-sorter select,
.vp-metabox .vp-select .chzn-container,
.vp-metabox .vp-multiselect .chzn-container,
.vp-metabox .vp-sorter .chzn-container,
.vp-metabox .vp-select .chzn-container .chzn-drop,
.vp-metabox .vp-multiselect .chzn-container .chzn-drop,
.vp-metabox .vp-sorter .chzn-container .chzn-drop,
.vp-metabox .vp-select .chzn-container .chzn-drop .chzn-search input,
.vp-metabox .vp-multiselect .chzn-container .chzn-drop .chzn-search input,
.vp-metabox .vp-sorter .chzn-container .chzn-drop .chzn-search input {
	width: 100% !important;
}

.vp-metabox .vp-select .chzn-container .chzn-drop,
.vp-metabox .vp-multiselect .chzn-container .chzn-drop,
.vp-metabox .vp-sorter .chzn-container .chzn-drop {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box;	/* Opera/IE 8+ */
}

.vp-metabox .vp-select .chzn-container .chzn-drop,
.vp-metabox .vp-multiselect .chzn-container .chzn-drop,
.vp-metabox .vp-sorter .chzn-container .chzn-drop {
	width: 100%;
	margin-right: 10px; /* hack */
}

.vp-metabox .vp-multiselect .search-field input,
.vp-metabox .vp-sorter .search-field input {
	height: auto;
}

.vp-metabox .vp-sorter .field ul.chzn-choices .search-choice {
	display: block;
	margin: 3px 5px;
	float: none !important;
	width: auto;
	cursor: move;
}

.vp-metabox .vp-sorter .field ul.chzn-choices .ui-state-highlight {
	display: block;
	margin: 3px 5px;
	height: 19px;
	float: none !important;
}


.vp-metabox .vp-textarea textarea {
	width: 100%;
	resize: vertical;
	min-height: 100px;
	max-height: 200px;
}

/* jQuery UI Datepicker bottom div bug */
#ui-datepicker-div { display:none }

/* chosen fix for initially hidden select */

/* Fix 100% width */
.chzn-container, .chzn-drop, .chzn-drop .chzn-search, .chzn-drop .chzn-search input {
	width: 100% !important;
	box-sizing: border-box;
}

/* Override width */
.chzn-container { width:250px !important; }


/**
 * Notebox styling
 * (normal, warning, info, error, success)
 */

.vp-field.vp-notebox {
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	display: block;
	padding: 10px 20px 10px 55px;
	position: relative;
	margin: 10px 0;
	min-height: 38px;
	width: auto;
}

.vp-field.vp-notebox > i {
	display: block;
	font-size: 30px;
	line-height: 1em;
	left: 0;
	margin: 12px 0 0 12px;
	opacity: 0.3;
	position: absolute;
	text-align: center;
	top: 0;
	width: 30px;
}

.vp-field.vp-notebox > .label {
	display: block;
	width: auto;
	padding: 0 !important;
	font-weight: bold;
}

.vp-field.vp-notebox > .description {
	padding: 0;
	color: inherit;
}

.vp-field.vp-notebox > .description p {
	margin: 0;
}

.vp-field.vp-notebox.note-normal {
	background-color: #eeeeee;
	border-color: #cccccc;
	color: #666666;
}

.vp-field.vp-notebox.note-info {
	background-color: #d1e4f3;
	border-color: #a8b6c1;
	color: #5881a1;
}

.vp-field.vp-notebox.note-success {
	background-color: #c4ec94;
	border-color: #70ad60;
	color: #4d751c;
}

.vp-field.vp-notebox.note-warning {
	background-color: #fee9a6;
	border-color: #d9c183;
	color: #978138;
}

.vp-field.vp-notebox.note-error {
	background-color: #ffa2a3;
	border-color: #bc515b;
	color: #9c1825;
}

.vp-wpa-group .vp-field.vp-notebox {
	margin: 10px 10px;
}

/**
 * Code Editor styling
 */
.ace_editor {
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd;
	border-radius: 3px;
	height: 200px;
}

/* Bootstrap Colorpicker */

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	margin: 2px 0 0;
	list-style: none;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0,0,0,0.2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	border-radius: 6px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	background-clip: padding-box;
}

.vp-metabox-error {
	background-image: url('../img/vp-sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -240px;
	margin-right: 5px;
	display: inline-block;
	height: 14px;
	width: 14px;
	vertical-align: middle;
}

/* fontawesome chooser + select2 width */
.vp-fontawesome{
	width: 100%;
}

.vp-js-sorter{
	width: 100%;
}

.vp-js-select2{
	width: 100%;
}

.select2-container .fontawesome,
.select2-result-label .fontawesome { font-size: 12px; vertical-align: middle; }

.select2-container .fontawesome i,
.select2-result-label .fontawesome i { font-size: 14px; margin-right: 8px; }