.vp-wrap {
	position: relative;
}

.vp-option-panel {
	background-color: #fcfcfc;
	background-image: -moz-linear-gradient(top,  rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 500px); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.2)), color-stop(500px,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 500px); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 500px); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 500px); /* IE10+ */
	background-image: linear-gradient(to bottom,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0) 500px); /* W3C */
	box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.15);
	color: #666666;
	display: table;
	height: auto;
	margin-top: 15px;
	min-height: 100%;
	min-width: 680px;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.vp-option-panel.fixed-layout {
	width: 900px;
}

.vp-option-panel.fluid-layout {
	width: 100%;
}

.vp-option-panel svg {
	height: 0px;
	width: 0px;
	display: none;
}

.vp-option-panel .vp-current {
	display: block !important;
}

.vp-option-panel .stop {
	display: none;
}

.vp-option-panel .validation-notif.vp-error {
	background-image: url('../img/vp-sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -320px;
	display: block;
	height: 16px;
	width: 16px;
}

.vp-option-panel .vp-button {
	background-image: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 100%); /* FF3.6+ */
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.05))); /* Chrome,Safari4+ */
	background-image: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* Chrome10+,Safari5.1+ */
	background-image: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* Opera 11.10+ */
	background-image: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* IE10+ */
	background-image: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#0d000000',GradientType=0 ); /* IE6-9 */
	border-radius: 4px;
	border-width: 1px;
	border-style: solid;
	box-shadow: inset 0px 0px 0px 1px rgba(255,255,255,0.4);
	color: #333333;
	font-weight: bold;
	padding: 7px 16px;
	cursor: pointer;
}

.vp-option-panel .vp-button:disabled {
	opacity: 0.5;
}

.vp-option-panel input,
.vp-option-panel select,
.vp-option-panel textarea {
	color: #666666;
}

.vp-option-panel hr {
	border-top: 1px solid rgba(0,0,0,0.4);
	border-bottom: 1px solid rgba(255,255,255,0.2);
	height: 0px;
	background: transparent;
	margin: 0px;
}

.vp-option-panel img {
	max-width: 100%;
	vertical-align: bottom;
}

.vp-left-panel {
	background: #f3f3f3;
	border-radius: 4px 0px 0px 4px;
	border-right: 1px solid rgba(0,0,0,0.15);
	display: table-cell;
	position: relative;
	vertical-align: top;
	width: 220px;
}

.vp-logo {
	text-align: center;
	min-height: 30px;
	padding: 40px 20px 20px 20px;
}

.vp-menus {
	margin-bottom: 50px;
}

.vp-menus ul {
	margin: 0px;
}

.vp-menus ul.vp-menu-level-1 {
	position: relative;
	border-top: 1px solid rgba(0,0,0,0.15);
	border-bottom: 1px solid rgba(255,255,255,1);
}

.vp-menus ul.vp-menu-level-1 > li {
	margin: 0px;
	position: relative;
}

.vp-menus ul.vp-menu-level-1 > li > a {
	border-bottom: 1px solid rgba(0,0,0,0.15);
	border-top: 1px solid rgba(255,255,255,1);
}

.vp-menus ul.vp-menu-level-1 > li > a.vp-menu-dropdown:after {
	content: ' ';
	display: block;
	height: 0px;
	width: 0px;
	border-bottom: none;
	border-top: 6px solid #999999;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	position: absolute;
	margin: -3px 10px 0px 0px;
	top: 50%;
	right: 0px;
}

.vp-menus ul.vp-menu-level-1 > li.vp-current > a.vp-menu-dropdown:after {
	content: ' ';
	display: block;
	height: 0px;
	width: 0px;
	border-top: none;
	border-bottom: 6px solid #999999;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	position: absolute;
	margin: -3px 10px 0px 0px;
	top: 50%;
	right: 0px;
}

.vp-menus li > a > i,
.vp-menus li > a > span {
	opacity: 0.7;
}

.vp-menus li.vp-current > a > i,
.vp-menus li.vp-current > a > span {
	opacity: 1;
}

.vp-menus li.vp-current > a.vp-menu-goto {
	background-color: #fcfcfc;
	box-shadow: 1px 0px #fcfcfc;
}

.vp-menus ul.vp-menu-level-2 {
	background-color: rgba(0,0,0,0.05);
	border-bottom: 1px solid rgba(0,0,0,0.05);
	margin: 0px;
	display: none;
}

.vp-menus ul.vp-menu-level-1 > li.vp-current a.vp-menu-dropdown ~ ul.vp-menu-level-2 {
	display: block;
}

.vp-menus ul.vp-menu-level-2 > li {
	margin: 0px;
	position: relative;
}

.vp-menus ul.vp-menu-level-2 li a {
	position: relative;
}

.vp-menus ul.vp-menu-level-2 > li a i {
	padding-left: 25px;
}

.vp-menus a {
	color: #444444;
	display: table;
	font-size: 13px;
	line-height: 20px;
	position: relative;
	text-decoration: none;
	width: 100%;
}

.vp-menus a i {
	display: table-cell;
	font-size: 14px;
	font-weight: normal;
	padding: 12px 0 12px 15px;
	width: 16px;
}

.vp-menus a i.custom-menu-icon {
	height: 16px;
	background-repeat: no-repeat;
	background-position: top left;
}

.vp-menus a span {
	display: table-cell;
	padding: 12px 50px 12px 10px;
}

.vp-menus a .validation-notif.vp-error {
	position: absolute;
	margin: -8px 25px 0px 0px;
	top: 50%;
	right: 0px;
}

.vp-right-panel {
	border-radius: 0px 4px 4px 0px;
	display: table-cell;
	overflow: hidden;
	position: relative;
}

.vp-right-panel .vp-option-form {
	background-color: #fcfcfc;
}

.vp-submit {
	background-color: #fcfcfc;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	border-radius: 0px 4px 0px 0px;
	margin-top: 1px;
	top: 0px;
}

.vp-submit .inner {
	overflow: hidden;
	padding: 10px;
}

.vp-submit.floating {
	box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
	border-radius: 0px;
	border-left: 1px solid rgba(0,0,0,0.15);
	margin-left: -1px;
	margin-top: 0px;
	position: fixed;
	z-index: 100;
}

.vp-submit.floating ~ .vp-panel {
	margin-top: 63px;
}

.vp-submit .vp-button {
	background-color: #6cc4e8;
	border-color: #6cc4e8;
	float: right;
	letter-spacing: 1px;
	height: 40px;
	margin-left: 20px;
	text-transform: uppercase;
	padding: 12px 20px;
	color: #ffffff;
}

.vp-submit .vp-button:hover {
	color: #ffffff !important;
	background-color: #7dd5f9;
	border-color: #7dd5f9;
}

.vp-submit .vp-button:disabled {
	color: #ffffff !important;
	border-color: #6cc4e8 !important;
}

.vp-submit p {
	border-radius: 4px;
	color: #666666;
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	margin: 0px 30px 0px 0px;
	overflow: hidden;
}

.vp-submit .save-loader {
	padding: 10px 20px 10px 20px;
}

.vp-submit .save-loader img {
	margin-right: 10px;
	vertical-align: middle;
}

.vp-submit .save-status {
	background-image: url('../img/vp-sprite.png');
	background-repeat: no-repeat;
	background-position: 9999px 9999px;
	padding: 10px 20px 10px 50px;
}

.vp-submit .save-status.success { background-position: 0px -240px; }
.vp-submit .save-status.failed { background-position: 0px -280px; }

.vp-panel {
	display: none;
	padding: 30px 30px;
}

.vp-section {
	padding: 20px 0px;
	position: relative;
	width: 100%;
}

.vp-section > h3 {
	background-color: #fcfcfc;
	color: #6cc4e8;
	font-size: 14px;
	line-height: 1em;
	padding: 4px 10px;
	margin: 10px 0px 0px 20px;
	position: absolute;
	top: 0px;
	text-transform: uppercase;
	z-index: 1;
}

.vp-section > .description {
	display: block;
	height: 20px;
	width: 20px;
	background-image: url('../img/vp-sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -120px;
	cursor: pointer;
	position: absolute;
	right: 0px;
	margin: -10px 20px 0px 0px;
	background-color: #fcfcfc;
	padding: 0px 10px;
	z-index: 1;
}

.vp-section > .description:hover {
	background-position: -40px -120px;
}

.vp-section .vp-field {
	margin-bottom: -1px;
	border-bottom: 1px solid rgba(0,0,0,0.10);
	box-shadow: 0px 1px rgba(255,255,255,1);
}

.vp-section .vp-controls {
	border-radius: 4px;
	border: 1px solid rgba(0,0,0,0.10);
	box-shadow: inset 0px 1px 0px rgba(255,255,255,1), 0px 1px 0px rgba(255,255,255,1);
	padding-top: 10px;
	position: relative;
	width: 100%;
}

.vp-field {
	background-color: transparent;
	display: table;
	table-layout: fixed;
	width: 100%;
}

.vp-field.vp-error {
	background-color: rgba(255,0,0,0.05);
}

.vp-field > .label {
	display: table-cell;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	width: 160px;
	padding: 20px 20px 20px 30px;
	vertical-align: top
}

.vp-field > .label label {
	cursor: default;
	display: block;
}

.vp-field > .label .description {
	font-size: 10px;
	line-height: 1.4em;
	color: #999999;
	font-weight: normal;
	font-style: normal;
	margin-top: 2px;
}

.vp-field > .label .description p {
	margin: 0;
}

.vp-field > .field {
	display: table-cell;
	font-weight: normal;
	padding: 20px 30px 20px 20px;
}

.vp-field.vp-checkimage > .field .input img,
.vp-field.vp-radioimage > .field .input img,
.vp-field.vp-upload > .field .input img {
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd;
	border-radius: 3px;
	padding: 3px;
}

.vp-field > .field .input {
	position: relative;
}

.vp-field .field .validation-msgs {
	color: #cc0000;
	clear: both;
	font-weight: bold;
}

.vp-field .field .validation-msgs ul {
	margin: 0px;
}

.vp-field .field .validation-msgs ul li:first-child {
	margin-top: 10px;
}

.vp-field .field input[type="checkbox"],
.vp-field .field input[type="radio"] {
	display: none;
}

.vp-field.vp-textbox .field input[type="text"],
.vp-field.vp-slider .field input[type="text"],
.vp-field.vp-upload .field input[type="text"],
.vp-field.vp-date .field input[type="text"],
.vp-field.vp-multiselect .field ul.chzn-choices,
.vp-field.vp-sorter .field ul.chzn-choices,
.vp-field.vp-textarea .field textarea,
.vp-field.vp-color .field input[type="text"] {
	margin: 0px;
	padding: 6px 12px;
	border-radius: 4px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.05);
}

.vp-field.vp-sorter .field ul.chzn-choices .search-choice {
	display: block;
	margin: 3px 5px;
	float: none !important;
	width: auto;
	cursor: move;
}

.vp-field.vp-sorter .field ul.chzn-choices .ui-state-highlight {
	display: block;
	margin: 3px 5px;
	height: 19px;
	float: none !important;
}

.vp-field .field input[type="button"] {
	background-color: #f3f3f3;
	border-color: #cccccc;
}

.vp-field.vp-textbox .field input {
	width: 100%;
	min-width: 100px;
}

.vp-field.vp-checkbox .field label,
.vp-field.vp-radiobutton .field label {
	display: inline-block;
	margin: 0px 30px 0px 0px;
	padding-top: 3px;
	line-height: 20px;
}

.vp-field.vp-checkbox .field span,
.vp-field.vp-radiobutton .field span {
	display: block;
	float: left;
	position: relative;
	width: 20px;
	height: 20px;
	margin-right: 6px;
	background-image: url('../img/vp-sprite.png');
	background-repeat: no-repeat;
}

.vp-field.vp-checkbox .field span { background-position: 0px 0px; }
.vp-field.vp-radiobutton .field span { background-position: 0px -20px; }

.vp-field.vp-checkbox .field input:checked ~ span { background-position: -20px 0px; }
.vp-field.vp-radiobutton .field input:checked ~ span { background-position: -20px -20px; }

.vp-field.vp-checkimage .field label,
.vp-field.vp-radioimage .field label {
	display: inline-block;
	margin: 5px;
	vertical-align: top;
}

.vp-field.vp-checkimage .field img,
.vp-field.vp-radioimage .field img {
	min-height: 16px;
	min-width: 16px;
}

.vp-field.vp-checkimage .field input:checked ~ img,
.vp-field.vp-radioimage .field input:checked ~ img {
	border-color: #6cc4e8;
	background-color: #6cc4e8;
}

.vp-field.vp-toggle .field label {
	display: inline-block;
}

.vp-field.vp-toggle .field span {
	display: block;
	background-image: url('../img/vp-sprite.png');
	background-position: 0px -40px;
	width: 60px;
	height: 30px;
	margin-top: -2px;
}

.vp-field.vp-toggle .field input:checked ~ span {
	background-position: -60px -40px;
}

.vp-field.vp-slider .field .input {
	padding-right: 80px;
}

.vp-field.vp-slider .field .slidebar {
	background-color: transparent;
	background-image: url('../img/vp-sprite.png');
	background-repeat: repeat-x;
	background-position: 0px -80px;
	border-radius: 4px;
	border: none;
	height: 8px;
	margin: 10px 10px;
	position: relative;
}

.vp-field.vp-slider .field .slidebar a {
	background-color: transparent;
	background-image: url('../img/vp-sprite.png');
	background-repeat: no-repeat;
	background-position: 0px -100px;
	cursor: pointer;
	border: none;
	display: block;
	height: 20px;
	width: 20px;
	position: absolute;
	margin-left: -10px;
	top: -6px;
	z-index: 0;
}

.vp-field.vp-slider .field .slidebar .ui-slider-range {
	background-image: url('../img/vp-sprite.png');
	background-repeat: repeat-x;
	background-position: 0px -90px;
	height: 8px;
	border-radius: 4px;
	position: absolute;
	z-index: 0;
}

.vp-field.vp-slider .field input.slideinput {
	margin-top: -10px;
	position: absolute;
	right: 0px;
	width: 70px;
	top: 0px;
}

.vp-field.vp-upload .field .input {
	padding-right: 150px;
}

.vp-field.vp-upload .field input[type="text"] {
	width: 100%;
}

.vp-field.vp-upload .field .buttons {
	position: absolute;
	top: 0px;
	right: 0px;
	margin-top: -2px;
}

.vp-field.vp-upload .field .image {
	line-height: 0em;
}

.vp-field.vp-upload .field .image img[src=""] {
	display: none;
}

.vp-field.vp-upload .field .image img:not([src=""]) {
	margin-top: 10px;
}

.vp-field.vp-select .field select,
.vp-field.vp-multiselect .field select,
.vp-field.vp-sorter .field select,
.vp-field.vp-select .field .chzn-container,
.vp-field.vp-multiselect .field .chzn-container,
.vp-field.vp-sorter .field .chzn-container,
.vp-field.vp-select .field .chzn-container .chzn-drop,
.vp-field.vp-multiselect .field .chzn-container .chzn-drop,
.vp-field.vp-sorter .field .chzn-container .chzn-drop,
.vp-field.vp-select .field .chzn-container .chzn-drop .chzn-search input,
.vp-field.vp-multiselect .field .chzn-container .chzn-drop .chzn-search input,
.vp-field.vp-sorter .field .chzn-container .chzn-drop .chzn-search input {
	width: 100% !important;
}

.vp-field.vp-select .field .chzn-container .chzn-drop,
.vp-field.vp-multiselect .field .chzn-container .chzn-drop,
.vp-field.vp-sorter .field .chzn-container .chzn-drop {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box;	/* Opera/IE 8+ */
}

.vp-field.vp-select .field input,
.vp-field.vp-multiselect .field input,
.vp-field.vp-sorter .field input {
	height: 25px;
}

.vp-field .field .chzn-container-single .chzn-single div {
	background-color: transparent;
	background-image: none;
	border-left: none;
}

.vp-section .field .chzn-container {
	font-size: 12px;
}

.vp-section .field .chzn-results {
	max-height: 100px;
}

.vp-section .field .chzn-results .highlighted {
	background-color: #cae995;
	color: inherit;
	background-image: none;
}

.vp-section .field .chzn-results li {
	border-radius: 3px;
} 

.vp-field.vp-select .field a {
	padding: 2px 0px;
	background-image: none;
	height: auto;
	margin: 0px;
	border-radius: 4px;
	border: 1px solid #cccccc;
	background-color: #ffffff;
	box-shadow: inset 0px -2px 4px rgba(0,0,0,0.05);
}

.vp-field.vp-select .field a span {
	margin-left: 12px;
}

.vp-field.vp-select .field a div {
	margin: 3px 4px 0px 0px;
}

.vp-field.vp-select .field .chzn-drop input {
	height: auto;
}

.vp-field.vp-multiselect .field .chzn-drop,
.vp-field.vp-select .field .chzn-drop,
.vp-field.vp-sorter .field .chzn-drop {
	border-color: #cccccc;
	border-radius: 0px 0px 4px 4px;
	margin-top: -4px;
	padding: 4px 0px 8px;
	box-shadow: inset 0px -2px 4px rgba(0,0,0,0.1);
}

.vp-field.vp-multiselect .field ul.chzn-choices,
.vp-field.vp-sorter .field ul.chzn-choices {
	padding: 1px 0px;
	background-image: none;
}

.vp-field.vp-textarea .field textarea {
	max-height: 200px;
	resize: vertical;
	width: 100%;
	height: 100px;
}

.vp-field.vp-color .field label {
	box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.1), inset -3px 0px 5px rgba(0,0,0,0.05), inset 0px -6px 15px rgba(0,0,0,0.05);
	background: -moz-linear-gradient(top,  rgba(255,255,255,0.4) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.4)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0.4) 0%,rgba(255,255,255,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4dffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
	display: inline-block;
	font-size: 27px;
	line-height: 1em;
	border-radius: 4px 0px 0px 4px;
	height: 1em;
	width: 1em;
	position: absolute;
	margin: 1px 0px 0px 1px;
}

.vp-field.vp-color .field input[type="text"] {
	width: 100px;
	padding: 6px 12px 6px 35px;
}

.vp-field.vp-date .field input[type="text"] {
	width: 140px;
}

.vp-copyright {
	border-top: 1px solid #cccccc;
	border-radius: 0px 0px 4px 0px;
	color: #888888;
	font-size: 11px;
	line-height: 1.4em;
	text-align: right;
	bottom: 0px;
	right: 0px;
	width: 100%;
}

.vp-copyright p {
	padding: 30px 20px;
	margin: 0px;
}

.vp-copyright a {
	color: #6cc4e8;
	text-decoration: none;
}

/* jQuery UI Datepicker bottom div bug */
#ui-datepicker-div { display:none }

/**
 * Notebox styling
 * (normal, warning, info, error, success)
 */

.vp-field.vp-notebox {
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	display: block;
	padding: 10px 20px 10px 55px;
	position: relative;
	margin: 10px 0;
	min-height: 38px;
	width: auto;
}

.vp-field.vp-notebox > i {
	display: block;
	font-size: 30px;
	line-height: 1em;
	left: 0;
	margin: 12px 0 0 12px;
	opacity: 0.3;
	position: absolute;
	text-align: center;
	top: 0;
	width: 30px;
}

.vp-field.vp-notebox > .label {
	display: block;
	width: auto;
	padding: 0;
}

.vp-field.vp-notebox > .description {
	padding: 0;
	color: inherit;
}

.vp-field.vp-notebox > .description p {
	margin: 0;
}

.vp-field.vp-notebox.note-normal {
	background-color: #eeeeee;
	border-color: #cccccc;
	color: #666666;
}

.vp-field.vp-notebox.note-info {
	background-color: #d1e4f3;
	border-color: #a8b6c1;
	color: #5881a1;
}

.vp-field.vp-notebox.note-success {
	background-color: #c4ec94;
	border-color: #70ad60;
	color: #4d751c;
}

.vp-field.vp-notebox.note-warning {
	background-color: #fee9a6;
	border-color: #d9c183;
	color: #978138;
}

.vp-field.vp-notebox.note-error {
	background-color: #ffa2a3;
	border-color: #bc515b;
	color: #9c1825;
}

.vp-section .vp-field.vp-notebox {
	margin: 10px 20px;
}


/**
 * Code Editor styling
 */
.ace_editor {
	border-width: 1px;
	border-style: solid;
	border-color: #dddddd;
	border-radius: 3px;
	height: 200px;
}